// color

$color-primary: #aa2d29;
$color-primary-light: #db3b36;
$color-white: #fff;
$color-grey: #393e46;

// font-family

$font-title: "DM Serif Display", serif;
$font-link: "Sanchez", serif;
$font-parag: "Arvo", serif;

//font-size

$size-link: 2rem;
$size-parag: 2rem;
$size-title: 5rem;
