.newsList {
  font-family: $font-title;
  color: $color-grey;
  width: 100%;
  &__title {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    button {
      padding: 1rem;
      background: linear-gradient(
        to right,
        rgb(242, 112, 156),
        rgb(255, 148, 114)
      );

      color: $color-white;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      font-size: 1.5rem;
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    & > * {
      margin-bottom: 1rem;
      &:not(:first-child) {
        padding: 0rem 1rem;
      }
    }
    &-img {
      height: 20vh;
    }
    &-category {
    }
    &-title {
    }
    &-buttons {
      display: flex;
      justify-content: space-around;
      button {
        padding: 1rem;
        color: $color-white;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        font-size: 1.5rem;

        &:nth-child(1) {
          background-image: radial-gradient(
            circle farthest-corner at 12.3% 19.3%,
            rgba(85, 88, 218, 1) 0%,
            rgba(95, 209, 249, 1) 100.2%
          );
        }
        &:nth-child(2) {
          background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
        }
      }
    }
  }
}
