.newsEdit {
  &__newsForm {
    width: 90%;
    margin: 3rem auto;
    color: $color-grey;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: rgb(246, 244, 244);

    & > * {
      margin-bottom: 3rem;
    }
    &__title {
      text-align: center;
      font-size: 2rem;
      font-family: $font-title;
    }
    &__inputBox {
      width: 90%;
      margin: 0 auto;
      & > * {
        margin-bottom: 1.5rem;
      }
      label {
        display: block;
        font-size: 1.5rem;
        font-family: $font-parag;
      }
      input,
      select,
      button {
        width: 100%;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-family: $font-parag;
      }
      textarea {
        width: 100%;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        height: 25vh;
        font-size: 1.5rem;
      }
      button {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}
