.form {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  color: $color-title;
  background-color: rgb(246, 244, 244);
  padding: 4rem;
  & > * {
    margin-bottom: 2rem;
    color: $color-parag;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    font-family: $font-title;
    margin-bottom: 2rem;
  }
  &__inputBox {
    width: 90%;
    margin: 0 auto;
    & > * {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      outline: none;
    }
    label {
      display: block;
      font-size: 2rem;
    }
    input,
    select,
    textarea {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ddd;
    }
    button {
      width: 100%;
      padding: 1rem;
      background-color: $color-primary-light;
      color: $color-white;
      border-radius: 0.5rem;
      border: 1px solid #ddd;
    }
    span {
      font-size: 2rem;
    }
  }
}
