.message {
  width: 100%;
  height: 20%;
  &__error {
    background-color: #c84b31;
    color: $color-white;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  &__success {
    background-color: #4aa96c;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}

.loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
  }
}
